body {

    background: rgb(2,0,36);
    background-image: url("/static/img/pattern1.png"), linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(50,75,178,1) 40%, rgba(116,82,248,1) 100%);
}
html,body {
    height:100%;
    margin: 0;
    background-attachment: fixed;
 }
.subnav {
    background: rgb(2,0,36);
    border: 1px solid red;
}
#notracks, .pagetitle {
    color: white;
}
.toclipboard, .toclipboard + a {
    cursor:pointer;
}

.cardtut {
    border-color: #20c997;
}
.cardtut .cardstart, .badgetut{
    background-color: #20c997;
    border-color: #20c997;
}
.cardeha {
    border-color: #0dcaf0;
}
.cardeha .cardstart, .badgeeha{
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.cardnew {
    border-color: #ccc;
}
.cardnew .cardstart, .badgenew{
    background-color: #ccc;
    color: #333;
    border-color: #ccc;
}
.cardvse {
    border-color: #565c64;
}
.cardvse .cardstart, .badgevse{
    background-color: #565c64;
    border-color: #565c64;
}

#filterwrap span {
    cursor:pointer;
}

.selectedfilter {
    background-color: rgba(0, 0, 0, .25);
    color: #ccc;
    border-color: #ccc;
}



