{% extends 'index.html' %}

{% block title %}
    Смена пароля
{% endblock %}

{% block navtext %}
    Смена пароля
{% endblock %}

{% block content %}
<a href="{% url 'accounts:profile' %}" type="button" class="btn btn-light position-absolute ms-0 mt-5">< Назад</a>
<div class="row align-items-center text-center h-100">
    <div class="col-12 mt-3 text-center">
        <div class="bg-body-secondary p-3 border-dark rounded text-center" style="min-width:300pt;" id="pagecontent">

            <form action="{% url 'accounts:change_password' %}" method="post">
                {% csrf_token %}
                <div>
                    <input name="old_password" class="form-control my-2" type="password" placeholder="Текущий пароль">
                    <div class="mb-3">
                        <p class="form-text">Для вашей безопасности, новый пароль должен содержать буквы (a-z) и цифры (0-9)</p>
                    </div>
                    <input name="password1" class="form-control my-2" type="password" placeholder="Придумайте пароль (минимум 6 символов)" minlength="6">
                    <input name="password2" class="form-control my-2" type="password" placeholder="Повторите новый пароль" minlength="6">
                    <div class="invalid-feedback d-block">
                        {{ error }}
                        {{ message }}
                    </div>
                    <button class="btn btn-primary m-2 " type="submit" id="submit" >Изменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}