{% extends 'index.html' %}

{% block content %}

<body>

        <form action="{% url 'accounts:change_password' %}" method="post">
            {% csrf_token %}
            <div>
              <input name="old_password" class="form-control" type="password" placeholder="Текущий пароль" minlength="8">
              <input name="password1" class="form-control" type="password" placeholder="Новый пароль (минимум 8 символов)" minlength="8">
              <input name="password2" class="form-control" type="password" placeholder="Повторите новый пароль" minlength="8">
              {{ error }}
              {{ message }}

            </div>

            <button class="btn btn-primary" type="submit" id="submit" >Изменить пароль</button>
        </form>

</body>

{% endblock %}