{% extends 'index.html' %}

{% block content %}

<body>

        <form action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
                <input name="username" id="username" value="{{username}}" type="hidden">
                {{form.full_name}}
                {{form.city.label}}
                {{form.city}}
                {{form.password1}}
                {{form.password2}}
                {% if form.errors %}
                    {{ form.error_messages.password_mismatch }}
                {% endif %}
            <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
        </form>

</body>


{% endblock %}