{% extends 'index.html' %}

{% block content %}
    <div class="col-5">
        <form action="{% url 'accounts:login' %}" method="post", content="">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text">+7</span>
                {{ form.username }}
            </div>
            {{ form.password }}
            {% if form.errors %}
                {{ form.error_messages.invalid_login}}
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Войти">
            <p><a href="{% url 'accounts:password_reset' %}" >Я не помню пароль</a></p>
            <a href="{% url 'accounts:register' %}" class="btn btn-light">Зарегистрироваться</a>
        </form>

    </div>

{% endblock %}