{% extends 'index.html' %}

{% block title %}
Восстановление пароля
{% endblock %}

{% block leftnavbtn %}
            <a href="{% url 'accounts:login' %}">
                <button class="navbar-toggler py-2" type="button">
                    <span class="bi bi-arrow-left nav-link"></span>
                </button>
            </a>
{% endblock %}

{% block content %}
<a href="{% url 'accounts:login' %}" type="button" class="btn btn-light position-absolute ms-0 mt-5">< Назад</a>
<div class="row align-items-center text-center h-100">
    <div class="col-12 mt-3 text-center">
        <div class="bg-body-tertiary mx-auto rounded p-3" style="max-width:300pt">
            <div class="mb-3">
                <p class="h3">Восстановление пароля</p>
                <p class="form-text">Придумайте новый пароль. Для вашей безопасности, он должен содержать буквы (a-z) и цифры (0-9)</p>
            </div>
            <form action="{% url 'accounts:new_password' %}" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input id="id_password1" name="password1" class="form-control" type="password" placeholder="Новый пароль (минимум 8 символов)" minlength="6" required>
                    <label for="id_password1" class="form-label">Новый пароль (минимум 6 символов)</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="id_password2" name="password2" class="form-control" type="password" placeholder="Повторите новый пароль" minlength="6" required>
                    <label for="id_password2" class="form-label">Повторите новый пароль</label>
                </div>
                {% if form.errors %}
                    <div class="invalid-feedback d-block my-2">{{ form.error_messages.password_mismatch }}</div>
                {% endif %}
                <button class="btn btn-primary" type="submit" id="submit" >Сохранить пароль</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}