{% extends 'index.html' %}

{% block content %}

<body>

        <form action="{% url 'accounts:register' %}" method="get">
            {% csrf_token %}
            <div>
                <input name="in_otp" class="form-control" type="text"  placeholder="Введите короткий номер, отправленный в SMS" maxlength="6">
                {{ error }}
                <input name="username" value="{{username}}" type="hidden">
            </div>

            <button class="btn btn-primary" type="submit" id="submit" >Продолжить</button>
        </form>

</body>

{% endblock %}

