{% extends 'index.html' %}
{% load static %}

{% block title %}
Восстановление доступа
{% endblock %}

{% block js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block leftnavbtn %}
            <button class="navbar-toggler py-2" type="button">
                <a href="{% url 'accounts:login' %}" class="bi bi-arrow-left nav-link"></a>
            </button>
{% endblock %}


{% block content %}
<div class="row align-items-center text-center h-100">
    <div class="col-12 mt-3 text-center">
        <div class="bg-body-tertiary mx-auto rounded p-3" style="max-width:300pt">
            <div class="mb-3">
                <p class="h3">Восстановление пароля</p>
                <p class="form-text">Введите ваш номер телефона</p>
            </div>
            <form action="{% url 'accounts:password_reset' %}" method="post">
                 {% csrf_token %}
                <div class="input-group input-group-lg my-0 mx-auto" style="max-width:250pt">
                    <span class="input-group-text" id="basic-addon1">+7</span>
                    <input name="username" class="form-control" type="tel"  placeholder="Номер телефона" maxlength="10" required>
                    <input type="submit" class="btn btn-success " value="&#10148;">
                </div>
                {% if error %}
                <div class="invalid-feedback d-block mt-3">{{ error }}</div>
                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock %}