{% extends 'index.html' %}

{% block content %}

<body>

        <form action="{% url 'accounts:password_reset' %}" method="get">
            {% csrf_token %}
            <div>
                <input name="in_otp" class="form-control" type="text" id="in_otp" placeholder="Введите короткий номер, отправленный в SMS" maxlength="6">
                {{ error }}
                <input name="username" id="username" value="{{username}}" type="hidden">
            </div>
            {{ username }}
            {{ out_otp }}

            <button class="btn btn-primary" type="submit" id="submit" >Продолжить</button>
        </form>

</body>

{% endblock %}