{% extends 'index.html' %}
{% load static %}

{% block title %}
Регистрация: Шаг 1 из 3
{% endblock %}

{% block js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block leftnavbtn %}
            <button class="navbar-toggler py-2" type="button">
                <a href="{% url 'accounts:login' %}" class="bi bi-arrow-left nav-link"></a>
            </button>
{% endblock %}

{% block content %}

<div class="row align-items-center text-center h-100">
    <div class="col-12 mt-3 text-center">
        <div class="bg-body-tertiary mx-auto rounded p-3" style="max-width:300pt">
            <div class="mb-3">
                <p class="h3">Регистрация: Шаг 1 из 3</p>
                <p class="form-text">Введите ваш мобильный номер</p>
            </div>

            <form action="{% url 'accounts:register' %}" method="get">
                <div class="input-group input-group-lg mx-auto" style="max-width:250pt">
                    <span class="input-group-text" id="basic-addon1">+7</span>
                        {{form.username}}
                    <input type="submit" class="btn btn-success " value="&#10148;">
                </div>
            </form>
            {% if error %}
            <div class="invalid-feedback d-block mt-3">{{ error }}</div>
            {% endif %}
            <div class="form-text mt-3">
                Зарегистрированы? <a href="{% url 'accounts:login' %}">Войти</a>
                или <a href="{% url 'accounts:password_reset' %}">восстановить пароль</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}